.default {
	font-family: Arial,
	Helvetica,
	sans-serif;
	font-size: 13px;
}

.title {
	font-family: Arial,
	Helvetica,
	sans-serif;
	font-size: 36px;
	color: white;
	font: bold;
	text-align: center;
}
.subtitle {
	font-family: Arial,
	Helvetica,
	sans-serif;
	font-size: 24px;
	color: #3498DB;
	text-align: center;
}
.subsubtitle {
	font-family: Arial,
	Helvetica,
	sans-serif;
	font-size: 16px;
	color: #005ea8;
	font-style: normal;
	text-align: center;
}
.info {
	font-family: Arial,
		Helvetica,
		sans-serif;
	font-size: 8px;
	color: gray;
	font-style: normal;
	text-align: right;
}